<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction Form</title>
</head>

<body style="background-color: lightblue;"></body>
    <p>
    <hr/><hr/><hr/>
    <section 1>
    <hr/><hr/><hr/>
<h1>Transaction</h1>        
    <hr/><hr/><hr/>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input autocomplete="off" autofocus type="submit" value="Submit"; style="background-color:whitesmoke">    
    </form>
    <br/>
        <aside>(...A Django WebApp that captures user transactions...)</aside>
   </section 1>
    <hr/><hr/><hr/>
    <h5 style="background-color: whitesmoke;"> Github:https://github.com/CharlesMbillo/sacco_project.git @ Copyright 2023</h5>
    <hr/><hr/><hr/>

    <script>
        document.getElementById('transactionForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch('/', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
